[run]
branch = True
source =
    src
    app.py
omit =
    tests/*
    */site-packages/*
    */venv/*
    */.venv/*
    */__init__.py

[report]
show_missing = True
fail_under = 85
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 

